---
interface Props {
  direction?: "left" | "right" | "top" | "bottom" | "default";
  delay?: number;
  duration?: number;
  class?: string;
  id: string;
  threshold?: number;
}

const {
  direction = "default",
  delay = 0,
  duration = 0.8,
  class: className = "",
  id,
  threshold = 0.2,
} = Astro.props;
---

<div
  transition:persist
  transition:name={`anim-${id}`}
  class={`animate-on-visible ${className}`}
  data-direction={direction}
  data-delay={delay}
  data-duration={duration}
  data-anim-id={id}
  data-threshold={threshold}
>
  <slot />
</div>
