---
interface Props {
  direction?: "left" | "right" | "top" | "bottom" | "default";
  delay?: number;
  duration?: number;
  className?: string;
  thershold?: number;
}

const {
  direction = "default",
  delay = 0,
  duration = 0.8,
  className = "",
  thershold = 0.2,
} = Astro.props;
---

<div
  class={`animate-on-visible opacity-0 ${className}`}
  data-direction={direction}
  data-delay={delay}
  data-duration={duration}
  data-threshold={thershold}
>
  <slot />
</div>
