---
import LottiePlayer from "@/components/LottiePlayer.astro";
import PersonIcon from "@/components/icons/PersonIcon.astro";
import TechCarousel from "@/components/TechCarousel.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import { biography, personalInfo } from "@/data/config";
---

<SectionLayout id="aboutme" class="section lg:mt-8">
  <h2
    id="abt-title"
    class="text-center text-4xl font-bold flex justify-center items-center gap-3 mb-8 text-white"
    data-aos="fade-left"
    data-aos-delay="200"
    data-aos-duration="900"
    data-aos-once="true"
  >
    <PersonIcon />
    Acerca de mi
  </h2>

  <div
    class="flex flex-col lg:flex-row gap-8 lg:gap-12 items-center lg:items-start"
  >
    <div
      id="abt-content"
      class="[&>p]:mb-4 [&>p>strong]:bg-fuchsia-600 [&>p>strong]:py-0.5 [&>p>strong]:px-1 [&>p>strong]:text-zinc-100/80 text-pretty order-1 md:order-1 text-lg"
    >
      {
        biography.paragraphs.map((para) => (
          <p
            data-aos="fade-up"
            data-aos-delay={para.delay}
            data-aos-duration="1000"
            data-aos-once="true"
            set:html={para.text}
            data-aos-offset="200"
          />
        ))
      }

      <div
        class="flex mt-6"
        data-aos="fade-up"
        data-aos-delay="900"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-offset="200"
      >
        <a
          target="_blank"
          href={personalInfo.cv}
          download
          class="inline-flex items-center gap-2 px-6 py-2 rounded-lg bg-fuchsia-700 hover:bg-fuchsia-600 text-white font-semibold shadow-lg transition-colors text-lg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 16V4m0 12l-4-4m4 4l4-4m-8 8h8"></path>
          </svg>
          Descargar CV
        </a>
      </div>
    </div>

    <div
      id="lot-ani"
      class="order-2 md:order-2 h-full"
      data-aos="zoom-in"
      data-aos-delay="600"
      data-aos-duration="1100"
      data-aos-once="true"
      data-aos-offset="200"
    >
      <LottiePlayer
        class="mi-clase-personalizada"
        width="300px"
        height="300px"
        autoplay={true}
        loop={true}
        speed={1}
      />
    </div>
  </div>

  <div
    class="mt-10 text-2xl font-bold text-fuchsia-400 mb-4 text-center"
    id="carrl-content"
    data-aos="fade-up"
    data-aos-delay="900"
    data-aos-duration="1000"
    data-aos-once="true"
    data-aos-offset="100"
  >
    Tecnologías
    <TechCarousel />
  </div>
</SectionLayout>
